<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>910423929795-qkcgief4u6nttqilh3nvjjmj0j01hsvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910423929795-qkcgief4u6nttqilh3nvjjmj0j01hsvd</string>
	<key>API_KEY</key>
	<string>AIzaSyA--XdD3wihZXNF7i2zhOYp7V773gx3Y5o</string>
	<key>GCM_SENDER_ID</key>
	<string>910423929795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.TRIOApp</string>
	<key>PROJECT_ID</key>
	<string>wsutc-trio-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wsutc-trio-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910423929795:ios:e33c3834469fba38</string>
	<key>DATABASE_URL</key>
	<string>https://wsutc-trio-app.firebaseio.com</string>
</dict>
</plist>