.backButton {
    color: gray;
    font-size: 24;
}

.closeWebButton {
    text-align: right;
    color: black;
    margin-right: 16;
    font-size: 26
}

.activity {
    margin-top: 45%;
    margin-bottom: 45%;
}

.icon {
    font-size: 22;
}