.page {
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

.h1 {
    font-family: "HelveticaNeueMedium";
}
.inputContainer{
    background-color: white;
    margin-bottom: 10;
    border-radius: 20;
    padding: 20;
}
.input {
    font-size: 18;
    font-family: "HelveticaNeueMedium";
    placeholder-color: #A8A8A8;
}

.btn-primary.btn-active:highlighted {
    background-color: maroon;
}

.fpassword {
    color: #5e6a71;
    margin-top: 40;
}
.btn.btn-primary {
    background-color: #981e32;
}